{% extends "layout.html" %}
{% block content %}

<br>

<h4>Who we are</h4>

<p>
    We are scientists of a work package under the project Swiss Competence Center for Energy Research (SCCER)
    “Heat and Electricity Storage” (HaE). As part of our scope, we assess various of energy storage technologies at
    technology level.
    <div id="assessment_img">
        <img src=" ../static/images/assessment.jpg" width="100%">
    </div>
    People: <br>
    Xiaojin Zhang, scientist on energy storage technology assessment<br>
    Adrian Grylka, energy storage technology assessment reviewer<br>
    Christian Bauer, scientist on energy storage technology assessment<br>
    Jörg Wolitschek, work package leader on energy storage assessment<br>
</p>

<h4>
    Why we built this platform
</h4>

<p>
    Because we want to reach a broader range of audiences who are interested in energy storages and their up-to-date
    performance. During our research, we noticed the information available on energy storage in literature and online
    is vastly diverse. For a better understanding of what role energy storage can play in the energy system of the
    future and how storage technologies perform and compare with each other, quantitative, transparent and consistent
    data on their technology characteristic and performance is essential. We hope this platform will serve as a handy
    reference of energy storage technologies for energy system modelers and scientists, policy and decision makers,
    public who are interested in energy storages, so as to facilitate their energy systems analysis, decision making
    or simply a better understanding about energy storage technologies.
</p>

<h4>
    How you can contribute and help us to improve this platform
</h4>

<p>
    We are a team of a few scientists so we understand there might be limitations of our work or information that we
    are not aware of. Therefore we are open for discussion and we are highly interested in your knowledge on energy
    storage technologies. If there is any information provided on this platform that you disagree with or you have
    better quality of data, please feel free to <a href="mailto:adrian.grylka@psi.ch?subject=Energy Storage Technologies
    Web App" class="link_in_text">contact us</a>. Your insights will help us to improve the information on this platform,
    and when you contribute a significant effort in reviewing our data, we could also include you as a reviewer on our
    platform as a credit for your valuable contribution.
</p>

{% endblock content %}