{% extends "layout.html" %}
{% block content %}
<br>
<h4>Welcome to the Energy Storage Technologies web app!</h4>
<p>
    The goal of this website is to provide information about various energy storage technologies and allow the user
    to compare them. The most common mechanical, electrochemical and thermal energy storage technologies are included.
    To get information about a technology, klick on the "Technology Information" tab in the header.
    If you want to compare technologies instead, klick the "Technology Comparison" tab. In both cases, you can filter
    the technologies, such that only technologies that match your requirements are shown. All values shown in this web
    app have been found in recent literature. While in the technology information tab, you can find the sources by klicking
    directly on the values. In the Technology Comparison tab you can klick on the datapoints in the charts to find the
    sources. If you want to use values for your project, it is highly recommended to read the "how to interpret the data"
    section below.
</p>

<h4>
    How to interpret the data
</h4>

<p>
    The values for each parameter is given with a certain range. This range exists because of two reasons: On the one hand,
    Every facility is different in size, application and other characteristics. This leads to a natural difference in each
    parameter from project to project. On the other hand, there have usually been found multiple sources for the same values.
    These sources might have given different values for the same parameters. This leads to a wider range in the values shown
    on this website. As a consequence, values for which more sources were found tend to have a larger range. It is important to
    realize, that this does not necessarily mean that these values have a higher variability in reality! This is especially crucial to keep
    in mind when looking at values with a very small range on this website. In most cases this means that only a small
    number of sources (sometimes only a single source) have been found rather than a very small variance of this parameter.
    In these cases it can definetely be possible to experience parameters in reality that are outside of the parameter range given in this web app.
</p>

<h4>
    Definition of terms
</h4>

<h5>
    Levelized Cost of Electricity Storage (LCOES)
</h5>

<p>
    The Levelized Cost of Electricity (LCOE) is a common measure to assess the economic viability of a power plant.
    The LCOE is a simple way to calculate at which price the electricity has to be sold for the power plant operator
    to break even. The Levelized Cost of Electricity Storage (LCOES) can be defined analog to the LCOE. That allows to
    add the cost of electricity storage to the cost of electricity generation, which is particularly important for
    plants producing intermittent power. It can also be used to calculate the economic viability of a storage unit,
    independent of a power plant. The LCOE of a power plant can directly be compared with the LCOES of a storage unit.
</p>

<h5>
    High-temperature Batteries
</h5>

<p>
    Some batteries use molten sodium as the negative electrode. This typically requires temperatures of above 245°C,
    which brings problem of safety, material requirements and thermal management. The advantages of sodium include a
    high reduction potential, low weight, non toxic nature and low costs.
</p>

{% endblock content %}