{% extends "layout.html" %}
{% block content %}

<br>
<h4>Welcome to the Energy Storage Technologies web app!</h4>
<p>
    The goal of this website is to provide information about various energy storage technologies and allow the user
    to compare them. The most common mechanical, electrochemical and thermal energy storage technologies are included.
    To get information about a technology, klick on the "Technology Information" tab in the header.
    If you want to compare technologies instead, klick the "Technology Comparison" tab. In both cases, you can filter
    the technologies, such that only technologies that match your requirements are shown. All values shown in this web
    app have been found in recent literature. While in the technology information tab, you can find the sources by klicking
    directly on the values. In the Technology Comparison tab you can klick on the datapoints in the charts to find the
    sources. If you want to use values for your project, it is highly recommended to read the "how to interpret the data"
    section below.
</p>

<h4>
    How to interpret the data
</h4>

<p>
    The values for each parameter is given with a certain range. This range exists because of two reasons: On the one hand,
    Every facility is different in size, application and other characteristics. This leads to a natural difference in each
    parameter from project to project. On the other hand, there have usually been found multiple sources for the same values.
    These sources might have given different values for the same parameters. This leads to a wider range in the values shown
    on this website. As a consequence, values for which more sources were found tend to have a larger range. It is important to
    realize, that this does not necessarily mean that these values have a higher variability in reality! This is especially crucial to keep
    in mind when looking at values with a very small range on this website. In most cases this means that only a small
    number of sources (sometimes only a single source) have been found rather than a very small variance of this parameter.
    In these cases it can definetely be possible to experience parameters in reality that are outside of the parameter range given in this web app.
</p>

<h4>
    Definition of terms
</h4>

<h5>
    Levelized Cost of Electricity Storage (LCOES)
</h5>

<p>
    The Levelized Cost of Electricity (LCOE) is a common measure to assess the economic viability of a power plant.
    The LCOE is a simple way to calculate at which price the electricity has to be sold for the power plant operator
    to break even. The Levelized Cost of Electricity Storage (LCOES) can be defined analog to the LCOE. That allows to
    add the cost of electricity storage to the cost of electricity generation, which is particularly important for
    plants producing intermittent power. It can also be used to calculate the economic viability of a storage unit,
    independent of a power plant. The LCOE of a power plant can directly be compared with the LCOES of a storage unit.
</p>

<h5>
    High-temperature Batteries
</h5>

<p>
    Some batteries use molten sodium as the negative electrode. This typically requires temperatures of above 245°C,
    which brings problem of safety, material requirements and thermal management. The advantages of sodium include a
    high reduction potential, low weight, non toxic nature and low costs.
</p>

<h5>
    Frequency containment reserve (primary control)
</h5>

<p>
    Refers to the power reserves available to contain the system frequency. This frequency reacts to fluctuating demand
    and power generation. The system frequency needs to be close to the nominal frequency to ensure safe and reliable
    operation of devices and machinery connected to the grid. Assets providing primary control adjust their power
    generation/consumption in order to minimize the deviation from the system frequency to the nominal frequency. This
    primary control is activated automatically and can therefore be activated very quickly.
</p>

<h5>
    frequency restoration reserve (secondary control)
</h5>

<p>
    Similar to the frequency containment reserve, the purpose of the frequency containment reserve is to minimize the
    difference between the system frequency and the nominal frequency as well. The secondary control becomes active if
    the imbalance of load and generation, and therefore the discrepancy of the system frequency to the nominal frequency
    lasts for more than 30 seconds. The activation time of the secondary control is typically between 30 seconds and
    15 minutes. Secondary control can be activated automatically or manually.
</p>

<h5>
    Replacement reserve (tertiary control)
</h5>

<p>
    The replacement reserve is additional active power reserves, which are activated up to hours after the imbalance
    occurs. This allows the frequency restoration reserve to become inactive again and therefore ready to react to
    additional imbalances.
</p>

<h5>
    Black start
</h5>

<p>
    Black start means restoring part of an electric grid or a power station without relying on an external power
    transmission network. Typically, this is needed after a power outage.
</p>

<h5>
    Grid investment deferral
</h5>

<p>
    Energy storage technologies can be used to deliver power to nearby loads when they are at their peak demand,
    lowering the need of power transmission capacity across large distances. This can defer or avoid the need of
    investments on this grid.
</p>

<h5>
    Increase of self-consumption
</h5>

<p>
    Energy storage technologies can decrease the demand of electricity drawn from the grid by storing excess energy
    produced on-site and discharging that energy when the demand is higher than the on-site production.
</p>

<h5>
    Island operation
</h5>

<p>
    Isolated areas are sometimes not connected to a large electricity grid. If electricity is needed in such
    an area, energy storage technologies are crucial to secure reliable power supply.
</p>

<h5>
    Load levelling
</h5>

<p>
    Energy storage technologies providing load levelling reduce the fluctuation a facility's demand by storing
    energy at times of low demand and discharging energy at periods of high demand.
</p>

<h5>
    mobility
</h5>

<p>
    Energy storage technologies can be used in cars, trains, ships, etc. to provide the energy needed to drive
    the engine or fuel cell of that vehicle. Additionally, energy storage technologies are often used to
    provide energy for other applications, such as starting the engine, cooling system, lighting, etc.
</p>

<h5>
    off-grid applications
</h5>

<p>
    Some facilities or houses are not connected to any power network. In these cases, on-site power generation
    combined with energy storage technologies can allow to use technologies that would otherwise be dependant
    on a connection to a power grid.
</p>

<h5>
    peak shaving
</h5>

<p>
    Peak shaving means reducing the peak demand of a consumer by discharging electricity from the energy
    storage technology. This allows the consumer to buy less electricity during these periods, which is
    especially beneficial if prizes on the electricity market are high during the periods of peak demand.
</p>

<h5>
    portable electronic applications
</h5>

<p>
    Portable electronic applications is a term that incorporates applications such as laptops, mobile phones,
    power tools, etc.
</p>

<h5>
    power reliability
</h5>

<p>
    Power reliability is the degree to which electricity is delivered within the accepted standards and in
    the amount desired. This incorporates frequency, duration and magnitudes of disturbances such as blackouts
    and grid failures.
</p>

<h5>
    renewable energy integration
</h5>

<p>
    Renewable energy technologies usually produce intermittent energy which can only be controlled on a
    limited scale. The power grid works in such a way that power production needs to be equal to the power
    consumption at all times. Most loads are uncontrollable and with increasing share of renewable energies,
    more power generation assets are uncontrollable as well. This can lead to an imbalance of power generation
    and consumption. Energy storage technologies can counteract this problem by storing energy when the
    production is higher than the demand and releasing energy, when the demand is higher than the production.
</p>

<h5>
    uninterrupted power supply
</h5>

<p>
    Energy storage technologies can provide power in emergency situations such as grid failures, to secure
    uninterrupted operation of devices and equipment.
</p>

<h5>
    voltage support
</h5>

<p>
    The primary objective of voltage support is to maintain the voltages in the transmission system within a secure,
    stable range. Voltage support is provided by generating units or static equipment capable of producing or absorbing
    reactive power.
</p>


{% endblock content %}