{% import "macros.html" as macro %}
{% extends "layout.html" %}
{% block content %}

<div class="container">
    <div class="formdiv" id="comparisonform">
        <form class="form" method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <label>{{ form.CompareTechnologiesField.label(class="form-control-label") }}</label>
                {% if notechalert %}
                <div class="alert alert-danger">
                     Choose at least one technology
                </div>
                {% endif %}
                {% if nochoicealert %}
                <div class="alert alert-danger">
                     No technology found that meet all demands set in the filter
                </div>
                {% endif %}
                <div class="row">
                    {% for x in range(orderedchoiceslist|length) %}
                    <div class="col-6">
                        <div class="radio">
                            <div class="radiochoices">
                                {% if orderedchoiceslist[x] == "empty" %}

                                {% else %}
                                {% if "Conventional CAES" in orderedchoiceslist[x].label|string %}
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                {% elif "AA-CAES" in orderedchoiceslist[x].label|string %}
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                {% elif "I-CAES" in orderedchoiceslist[x].label|string %}
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                {% endif %}
                                {% if "sized" in orderedchoiceslist[x].label|string %}
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                {% elif "term" in orderedchoiceslist[x].label|string %}
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                {% endif %}
                                {{ orderedchoiceslist[x] }}
                                {{ orderedchoiceslist[x].label }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
            {{ macro.filter(form) }}
        </form>
    </div>
</div>



<br>

<div id="techtitle">
    Technology Comparison
</div>

<br>

<div class="container">
    <div class="accordion" id="accordionExample">
      <div class="card accordioncard">
        <div class="card-header accordionheader" id="headingOne">
            <h5 class="mb-0">
                <span class="card-header-span">
                    <button class="btn btn-link accordion-title" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Energy Capacity
                    </button>
                </span>
            </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            <div class="container-fluid" align="left">
                <embed type = "image/svg+xml" src="{{ energy_capacity_fig|safe }}" style="max-width:1000px"/>
            </div>
          </div>
        </div>
      </div>
      <div class="card accordioncard">
        <div class="card-header accordionheader" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed accordion-title" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Power Capacity
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            <div class="container-fluid" align="left">
                <embed type = "image/svg+xml" src="{{ power_capacity_fig|safe }}" style="max-width:1000px"/>
            </div>
          </div>
        </div>
      </div>
      <div class="card accordioncard">
        <div class="card-header accordionheader" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed accordion-title" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Discharge Time
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body">
            <div class="container-fluid" align="left">
                <embed type = "image/svg+xml" src="{{ discharge_time_fig|safe }}" style="max-width:1000px"/>
            </div>
          </div>
        </div>
      </div>
      <div class="card accordioncard">
        <div class="card-header accordionheader" id="headingFour">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed accordion-title" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              Response Time
            </button>
          </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
          <div class="card-body">
            <div class="container-fluid" align="left">
                <embed type = "image/svg+xml" src="{{ response_time_fig|safe }}" style="max-width:1000px"/>
            </div>
          </div>
        </div>
      </div>
      <div class="card accordioncard">
        <div class="card-header accordionheader" id="headingFive">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed accordion-title" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              Round-trip Efficiency
            </button>
          </h5>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
          <div class="card-body">
            <div class="container-fluid" align="left">
                <embed type = "image/svg+xml" src="{{ efficiency_fig|safe }}" style="max-width:1000px"/>
            </div>
          </div>
        </div>
      </div>
      <div class="card accordioncard">
        <div class="card-header accordionheader" id="headingSix">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed accordion-title" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
              Gravimetric Power/ Energy Density
            </button>
          </h5>
        </div>
        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
          <div class="card-body">
            <div class="container-fluid" align="left">
                <embed type = "image/svg+xml" src="{{ gravimetric_density_fig|safe }}" style="max-width:1000px"/>
            </div>
          </div>
        </div>
      </div>
      <div class="card accordioncard">
        <div class="card-header accordionheader" id="headingSeven">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed accordion-title" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
              Volumetric Power/ Energy Density
            </button>
          </h5>
        </div>
        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
          <div class="card-body">
            <div class="container-fluid" align="left">
                <embed type = "image/svg+xml" src="{{ volumetric_density_fig|safe }}" style="max-width:1000px"/>
            </div>
          </div>
        </div>
      </div>
      <div class="card accordioncard">
        <div class="card-header accordionheader" id="headingEight">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed accordion-title" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
              Calendar Lifetime
            </button>
          </h5>
        </div>
        <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
          <div class="card-body">
            <div class="container-fluid" align="left">
                <embed type = "image/svg+xml" src="{{ calendar_lifetime_fig|safe }}" style="max-width:1000px"/>
            </div>
          </div>
        </div>
      </div>
      <div class="card accordioncard">
        <div class="card-header accordionheader" id="headingNine">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed accordion-title" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
              Cycle Lifetime
            </button>
          </h5>
        </div>
        <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionExample">
          <div class="card-body">
            <div class="container-fluid" align="left">
                <embed type = "image/svg+xml" src="{{ cycle_lifetime_fig|safe }}" style="max-width:1000px"/>
            </div>
          </div>
        </div>
      </div>
      <div class="card accordioncard">
        <div class="card-header accordionheader" id="headingTen">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed accordion-title" type="button" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
              Capital Cost
            </button>
          </h5>
        </div>
        <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordionExample">
          <div class="card-body">
            <div class="container-fluid" align="left">
                <embed type = "image/svg+xml" src="{{ capital_cost_fig|safe }}" style="max-width:1000px"/>
            </div>
          </div>
        </div>
      </div>
      <div class="card accordioncard">
        <div class="card-header accordionheader" id="headingEleven">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed accordion-title" type="button" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
              Levelized Cost of Electricity Storage
            </button>
          </h5>
        </div>
        <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#accordionExample">
          <div class="card-body">
            <div class="container-fluid" align="left">
                <embed type = "image/svg+xml" src="{{ lcoes_fig|safe }}" style="max-width:1000px"/>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

{% endblock content %}